*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(rgba(12, 18, 21, 1), rgba(170, 215, 215, 1));
    color: white;
}

nav {
    min-height: 10vh;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem
}
.logo {
    display: inline-flex;
}

.page {
    min-height: 90vh;
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 5%;
  }

.hero {
    align-self: center;
    justify-self: center;
  }

.hero img{
    height: 700px;
    width: auto;
}

.details {
    grid-column: 2/3;
    align-self: end;
    padding: 0 5vh 16vh 0;
}

.details h1{
    font-size: 4rem;
    padding: 0 2 0 0;
    font-weight: 2000;
}

.details h2 {
    font-size: 2rem;
    padding: 3vh 3vh 3vh 0;
}

.lang-logo {
    padding: 0 0 4vh 10vh;
    height: 300px;
    transform: translatey(-50%);
}

.pages {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translatey(-50%);
}

.pages > div { 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pages h3 {
    padding: 30px;
    font-size: 15px;
}