*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(rgba(12, 18, 21, 1), rgba(170, 215, 215, 1));
    color: white;
}

nav {
    min-height: 10vh;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem
}
.logo {
    display: inline-flex;
}

.page {
    min-height: 90vh;
    display: grid;
    grid-template-columns: 10% 1fr 1fr 1fr 10%;
  }

  .hero {
    align-self: center;
    justify-self: center;
  }
.hero img{
    height: 600px;
    width: auto;
}

.details {
    grid-column: 2/3;
    align-self: end;
    padding-bottom: 16vh;
}

.details h1{
    font-size: 4rem;
    padding: 0 2 0 0;
    font-weight: bold;
}
.details h2 {
    font-size: 2rem;
    padding: 3vh 3vh 3vh 0;
}