*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: radial-gradient(rgba(141, 102, 89, 100), rgba(223, 227, 229, 100));
    color:black;
}

nav {
    min-height: 10vh;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem
}
.logo {
    display: inline-flex;
}

.page {
    min-height: 90vh;
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 5%;
  }

  .hero {
    align-self: center;
    justify-self: center;
  }
.hero img{
    height: 700px;
    width: auto;
}

.details {
    grid-column: 2/3;
    align-self: end;
    padding: 0 5vh 20vh 0;
}

.details h1{
    font-size: 4rem;
    padding: 0 2 0 0;
}

.details h2 {
    font-size: 2rem;
    padding: 3vh 3vh 3vh 0;
}

.lang-logo {
    padding: 0 0 0 4vh;
    align-self: center;
    justify-content: center;
    height: 300px;
}

.pages {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translatey(-50%);
}

.pages > div { 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pages h3 {
    padding: 30px;
    font-size: 1rem;
}

.pages svg{
    cursor: pointer;
    opacity: 0.5;
    transform: scale(2);
}
.pages svg:hover{
    animation: dot 0.5s ease-in-out infinite alternate;
}
.pages svg.active{
    opacity: 1;
}

.banner {
    height: 720px;
    position: relative;
    width: 100%;

}

.banner-header { 
    position: absolute;
    top: 90%;
    left: 75%;
    transform: translate(-50%, -70%);
    font-size: 72px;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.description-1, .description-2 {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 10vh 0;
}

.description-1-content{
    width: 50%;
}
.description-2-content{
    width: 90%;
}

.description-1-content {
    padding: 2vh 0 0 0; 
}

.description-1-content h2, .description-2-content h2 {
    padding-bottom: 3vh;
    font-size: 48px;
}

.description-1-content p, .description-2-content p {
    font-size: 24px;
}

.description-2-content {
   justify-content: space-between
   ;
}

.gallary {
  padding-left: 5vh;
  justify-content: space-around;
  align-self: right;
}

.JSpage {
    background: radial-gradient(rgba(0, 106, 146, 100), rgba(228, 229, 234, 100))
}

.Reactpage {
    background: radial-gradient(rgba(70, 70, 70, 100), rgba(255, 255, 255, 100))
}

.mainpg {
    ackground: radial-gradient(rgba(141, 102, 89, 100), rgba(223, 227, 229, 100));
}

@keyframes dot{
    0%{
        transform: scale(2);
    }
    100%{ transform: scale(3);
}